<div class="container second">
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-xl-6">
            <div class="left">
                <img src="/assets/img/library.jpg">
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6">
           <div class="right">
            <h2>BOOK & LIBRARY</h2>
            <p>Learning to read is about listening and understanding as well as working out what is printed on the page.
               </p>
               <div class="row">
                   <div class="col-sm-6" >
                    <img src="/assets/img/lib1.jpg" >
                   </div>
                   <div class="col-sm-6" >
                    <img src="/assets/img//lib2.jpg" >
                </div>
                <div class="col-sm-6"  >
                    <img src="/assets/img/lib3.jpg">
                </div>
                <div class="col-sm-6" >
                    <img src="/assets/img/lib4.jpg" >
                </div>
               </div>
           </div>

        </div>
    </div>
</div>