 <div class="third">
  <div class="container">

    <ul class="classic-list info-list">
      <li data-class="primary" class="selected">primary</li>
      <li data-class="preparatory">preparatory</li>
      <li data-class="secondary">secondary</li>

    </ul>
    <div class="info-content"  data-aos="zoom-out-up">
      <div class="primary " >


        <img src="/assets/img/student1.jpg">



        <p>A primary stage (in Ireland, the UK & Australia), junior school (in Australia), elementary school or
          grade
          school (in the US & Canada) is a school for children from about four to eleven years old, in which they
          receive primary education. It typically comes after preschool and before secondary school.</p>




      </div>
      <div class="preparatory">
        <img src="/assets/img/preparatory.jpg">
        <p>A preparatory stage (or, shortened: prep school) in the United Kingdom is a fee-charging independent primary
          school that caters for children up to approximately the age of 13. The term "preparatory school" is used as it
          prepares the children for the Common Entrance Examination in order to secure a place at an independent
          secondary school,</p>
      </div>
      <div class="secondary">
        <img src="/assets/img/secondary.jpg">
        <p>A secondary stage describes an institution that provides secondary education and also usually includes the
          building where this takes place. Some secondary schools provide both lower secondary education (age 12 to 15)
          and upper secondary education (age 15 to 18) ie levels 2 and 3 of the ISCED scale, but these can also be
          provided in separate schools, as in the American middle and high school system. In the UK, elite public
          schools typically admit pupils between the ages of 13 and 18.</p>
      </div>


    </div>
  </div>
</div> 


